# Sources
*.c text
*.h text
*.cpp text
*.hpp text
*.inc text

# Shaders
*.glsl text

# Compiled stuff
*.o binary
*.gch binary

# Binaries
*.a binary
*.dll binary
*.exe binary
*.out binary

# Linguist overrides
*.c linguist-language=C
*.h linguist-language=C
*.inc linguist-language=C
*.cpp linguist-language=C++
*.hpp linguist-language=C++

# Linguist documentation
doxygen/* linguist-documentation

# Allegro
lib/* linguist-vendored
